<form #form="ngForm" (submit)="addNewArtist(form)">
  <fieldset>
    <input type="text"
           id="artistName"
           ngModel
           #artistName="ngModel"
           name="artistName"
           required
           placeholder="Artist Name">
    <div class="validation-message" *ngIf="artistName.touched && !artistName.valid">Artist Name is required.</div>
  </fieldset>

  <fieldset>
    <input type="text"
           id="artistGenre"
           ngModel
           #artistGenre="ngModel"
           name="genre"
           placeholder="Artist Genre">
  </fieldset>

  <fieldset>
    <input type="text" id="artistSong" name="song" placeholder="The most popular song">
  </fieldset>

  <fieldset>
    <input type="submit" class="submit-button">
  </fieldset>
</form>
