form {
  font-size: 16px;
}

fieldset {
  border: none;
}

input[type="text"] {
  width: 180px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  padding: 0 6px;

  &::placeholder {
    color: lightgray;
    font-style: italic;
  }

  &.ng-touched.ng-invalid {
    border: 1px solid red;
  }
}

select {
  width: 196px;
  height: 24px;
}

.validation-message {
  font-size: 14px;
  padding: 0 6px;
  color: red;
}

.submit-button {
  width: 180px;
  height: 24px;
  box-sizing: content-box;
  background-color: deepskyblue;
  color: white;
  border: none;
}

.submit-button:disabled {
  background-color: lightgray;
}

