<form #form="ngForm" (submit)="addNewArtist(form)">
  <fieldset>
    <input type="text"
           id="artistName"
           ngModel
           #artistName="ngModel"
           name="artistName"
           required
           minlength="2"
           maxlength="30"
           placeholder="Artist Name">
    <div class="validation-message" *ngIf="artistName.touched && !artistName.valid">
      <div *ngIf="artistName.errors.required">
        Artist Name is required.
      </div>
      <div *ngIf="artistName.errors.minlength">
        Artist Name min length is
        {{ artistName.errors.minlength.requiredLength }}.
      </div>
      <div *ngIf="artistName.errors.maxlength">
        Artist Name max length is
        {{ artistName.errors.maxlength.requiredLength }}.
      </div>
    </div>
  </fieldset>

  <fieldset>
    <input type="text"
           id="artistGenre"
           ngModel
           #artistGenre="ngModel"
           name="artistGenre"
           placeholder="Artist Genre">
  </fieldset>

  <fieldset>
    <input type="text"
           id="artistSong"
           ngModel
           #aristSong="ngModel"
           name="song"
           required
           placeholder="The most popular song">
  </fieldset>

  <fieldset>
    <select ngModel name="artistCountry" id="artistCountry">
      <option *ngFor="let country of countries" [value]="country.id">
        {{ country.name }}
      </option>
    </select>
  </fieldset>

  <fieldset>
    <label>
      <input type="checkbox" ngModel name="saveArtist" />
      Add this artist to playlist
    </label>
  </fieldset>

  <fieldset>
    <input type="submit" class="submit-button" [disabled]="!form.valid">
  </fieldset>
</form>
