.main {
  width: 80%;
  margin: 0 auto;
}

.singers-list-section,
.video-player-section,
.favorites-section {
  display: inline-block;
  vertical-align: top;
  padding: 12px;
  overflow: hidden;
  box-sizing: border-box;
}

.singers-list-section {
  width: 25%;
}

.video-player-section {
  width: 48%;
}

.favorites-section {
  width: 25%;
}
